<div class="contacts-section" id="Contacts">
    <div class="img-container">
        <img src="static/assets/images/contacts-bacon-burger.png" alt="contacts bacon burger">
    </div>
    <div class="form-container">
        <form class="form-wrapper">
            <h1><span>Leave</span> us a message</h1>
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="text" placeholder="Phone">
            <input type="email" placeholder="Email">
            <textarea placeholder="Message"></textarea>
            <button>SEND</button>
        </form>
    </div>
</div>