<div class="home-section">
    <div class="hero-main">
        <div class="hero-text-container">
            <h1><span>boss</span> Burger</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis.</p>
            <button>Order Now!</button>
        </div>
        <div class="hero-image-container">
            <img src="static/assets/images/home-hero-img.png" alt="home burger">
        </div>
    </div>
</div>