<div class="products-section">
    <h2>START YOUR <span>ORDER TODAY</span></h2>
    <div class="products-list">
        <div class="product">
            <div class="hover-details">
                <div class="price-container">
                    <p>Bacon <span>Burger</span></p>
                    <p>PHP 45:00</p>
                </div>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div> 
            <div class="burger-container">
                <div class="image-container">
                    <img src="static/assets/images/products-grilled-burger.png" alt="product classic burger">
                </div>
                <p>Bacon <span>Burger</span></p>
            </div>
            <div class="price-container">
                <p>PHP 45:00</p>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div>
        </div>
        <div class="product">
            <div class="hover-details">
                <div class="price-container">
                    <p>Classic <span>Burger</span></p>
                    <p>PHP 45:00</p>
                </div>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div> 
            <div class="burger-container">
                <div class="image-container">
                    <img src="static/assets/images/products-classic-burger.png" alt="product classic burger">
                </div>
                <p>Classic <span>Burger</span></p>
            </div>
            <div class="price-container">
                <p>PHP 45:00</p>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div>
        </div>
        <div class="product">
            <div class="hover-details">
                <div class="price-container">
                    <p>BBQ <span>Burger</span></p>
                    <p>PHP 60:00</p>
                </div>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div> 
            <div class="burger-container">
                <div class="image-container">
                    <img src="static/assets/images/products-bbq-burger.png" alt="product bbq burger">
                </div>
                <p>BBQ <span>Burger</span></p>
            </div>
            <div class="price-container">
                <p>PHP 60:00</p>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div>
        </div>
        <div class="product">
            <div class="hover-details">
                <div class="price-container">
                    <p>Crispy <span>Burger</span></p>
                    <p>PHP 50:00</p>
                </div>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div> 
            <div class="burger-container">
                <div class="image-container">
                    <img src="static/assets/images/products-crispy-burger.png" alt="product crispy burger">
                </div>
                <p>Crispy <span>Burger</span></p>
            </div>
            <div class="price-container">
                <p>PHP 50:00</p>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div>
        </div>
        <div class="product">
            <div class="hover-details">
                <div class="price-container">
                    <p>Flame Grill <span>Burger</span></p>
                    <p>PHP 60:00</p>
                </div>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div> 
            <div class="burger-container">
                <div class="image-container">
                    <img src="static/assets/images/products-flame-grilled-burger.png" alt="product flame grilled burger">
                </div>
                <p>Flame Grill <span>Burger</span></p>
            </div>
            <div class="price-container">
                <p>PHP 60:00</p>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div>
        </div>
        <div class="product">
            <div class="hover-details">
                <div class="price-container">
                    <p>Grill <span>Burger</span></p>
                    <p>PHP 45:00</p>
                </div>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div> 
            <div class="burger-container">
                <div class="image-container">
                    <img src="static/assets/images/products-grill-burger.png" alt="product grill burger">
                </div>
                <p>Grill <span>Burger</span></p>
            </div>
            <div class="price-container">
                <p>PHP 45:00</p>
                <div class="image-container">
                    <img src="static/assets/images/products-cart-icon.png" alt="product cart icon">
                </div>
            </div>
        </div>
    </div>
</div>